body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container-fluid {
  padding: 1.5rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* DEVELOPERS ADD CUSTOM CSS BELOW */

.f-xxxl{
  font-size: 3em;
}

.f-xxl{
  font-size: xx-large;
}

.f-xl{
  font-size: x-large;
}

a .material-symbols-outlined{
  font-size: 4em;
}

.vh-60{
  height: 60vh;
}

.vh-15{
  width: 15vh;
  height: 15vh;
}

.vh-10{
  height: 10vh;
}