body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container-fluid {
  padding: 1.5rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* DEVELOPERS ADD CUSTOM CSS BELOW */

.f-xxxl{
  font-size: 3em;
}

.f-xxl{
  font-size: xx-large;
}

.f-xl{
  font-size: x-large;
}

a .material-symbols-outlined{
  font-size: 4em;
}

a div .material-symbols-outlined{
  font-size: 1em;
}

.vh-60{
  height: 60vh;
}

.homebox{
  width: 25vh;
  height: 27vh;
}

.navbox{
  height: 6vh;
}

.vh-12{
  height: 12vh;
}

.nice-green{
  color: #2ba745;
  border-color: #2ba745;
}
.nice-green:hover{
  color: white;
  background-color: #2ba745;
  border: none;
}

.nice-pink{
  color: #e83e8c;
  border-color: #e83e8c;
}
.nice-pink:hover{
  color: white;
  background-color: #e83e8c;
  border: none;
}

.nice-cyan{
  color: #17a2b8;
  border-color: #17a2b8;
}
.nice-cyan:hover{
  color: white;
  background-color: #17a2b8;
  border: none;
}

.nice-orange{
  color: #fd7e14;
  border-color: #fd7e14;
}
.nice-orange:hover{
  color: white;
  background-color: #fd7e14;
  border: none;
}

svg{
  overflow: hidden;
}